@mixin grid-container {
    display: grid;
    grid-template-columns: [line1] 6% [line2] 4% [center] auto  [line3] 4% [line4] 6%;
    grid-template-rows: 140px auto; 
    grid-template-areas: 
        '. header header header .'
        '. . intro . .'

    ;
    @media only screen and (max-width: $screen-s) {
       
    }
}

@mixin flex-align {
    display: flex;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-between {
    display: flex; 
    justify-content: space-between;
}
@mixin link-clear {
    list-style-type: none;
    text-decoration: none;
}

@mixin button {
    width: 300px;
    min-width: 200px;
    height: 55px;
    border: 2px solid $gray;
    color: $white;
    background-color: $darkblue;
    transition: all $transition;
    outline: none;
    &:hover {
        background-color: $gray;
        color: $darkblue;
        font-size: 1.4rem;
        font-weight: $font-weight-bold;
    }
    @media only screen and (max-width: $screen-s){
        width: 80%;
    }
}

@mixin transform-size {
    transition: transform $transition;
    &:hover {
        transform: scale(1.1);
        
    }
}

@mixin text-selection-primary {
    &::selection {
        background-color: $text-selection-primary;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin text-underline {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 11px;
        width: 50px;
        height: 5px;
        color: $darkblue;
    }
}

// ================================================================= //

*{
    padding: 0;
    margin: 0;
    font-family: $font-stack-primary;
}

// ============ SCROLL =========== //

::-webkit-scrollbar {
    width: 5px;
    background-color: $gray;
}
::-webkit-scrollbar-thumb {
    background-color: $darkerblue;
}

// ============ HEADER ========== //

.container {
    @include grid-container;
    height: $height-full;
    min-height: 700px;
    background-color: $darkblue;
}

.menu {
    background-color: $darkerblue;
    @include flex-column;
    justify-content: space-between;
    width: 0%;
    height: 100%;
    position: fixed;
    opacity: 1;
    transition: width 0.4s ease;
    .header-icons {
        @include flex-center;
        margin-bottom: 50px;
        svg {
            height: $header-icon-size;
            width: $header-icon-size;
            transition: opacity 0.13s ease;
            padding: 10px;
            opacity: 0;
            
        }
    }   
    ul { 
        @include flex-center;
        flex-direction: column;
        opacity: 0;
        @media only screen and (max-width: $screen-m){
            width: 100%;
            transition: opacity 0.13s ease;
            margin-top: 50px;
         }
        li {
            font-size: $nav-size;
            list-style-type: none;  
            font-weight: $font-weight-semi;
            text-align: center;
            padding: 25px;                   
        }
    }
    a {
        color: $white;
        @include link-clear;
        transition: color $transition;
        &:hover {
            color: $hover-primary;
        }
    }     
}

nav {
    @include flex-between;
    @include flex-align;
    font-weight: $font-weight-bold;
    grid-area: header;
    .header-icons svg {
        height: $header-icon-size;
        width: $header-icon-size;
        padding-right: 10px;
        @include transform-size;
        .cls-1 {
            transition: fill $transition;
        }
        &:hover .cls-1 {
            fill: $hover-primary;
        }
        @media only screen and (max-width: $screen-m){
            display: none;         
         }
    }
    ul { 
        display: $flex;
        flex-wrap: wrap;
        @media only screen and (max-width: $screen-m){
            display: none;
            width: 100%;
         }
        li {
            font-size: $nav-size;
            list-style-type: none;  
            font-weight: $font-weight-semi;
            padding-left: 75px;  
            @media only screen and (max-width: $screen-m){
            }                       
        }
    }
    a {
        color: $white;
        @include link-clear;
        transition: color $transition;
        &:hover {
            color: $hover-primary;
        }
    } 
    @media only screen and (max-width: $screen-m){
        display: block;         
     }
}
.toggle {
    position: fixed;
    width: 90%;
    align-items: flex-end;
    padding-top: 20px;
    color: $white;
    font-size: 2rem;
    display: none;
    flex-direction: column;
    grid-area: header;
    z-index: 1;
    span {
        width: 38px;
        background-color: $white;
        height: 5px;
        margin: 3px;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    .burger-anime:nth-child(1) {
        transform: translateY(11px) rotate(-45deg)
    }
    .burger-anime:nth-child(2) {
        opacity: 0;
    }
    .burger-anime:nth-child(3) {
        transform: translateY(-11px) rotate(45deg)
    }
    @media only screen and (max-width: $screen-m){
        display: flex;   
              
     }
}
.active {
    display: block;
}

.intro {
    grid-area: intro;
    @include flex-align;
    @include flex-center;
    flex-direction: column;
    padding-bottom: 70px;
    text-align: center;
    h1 {
        font-size: $h1;
        color: $white;
        @include text-selection-primary;
        span {
            color: $red;
            text-decoration: underline;
            &::selection {
                background-color: $white;
            }
        }
    }
    p {
        font-size: $h3;
        color: $gray;
        width: 60%;
        @include text-selection-primary;
        @media only screen and (max-width: $screen-m){
            width: 100%;
            margin-top: 20px;
        }
    }
    button {
        @include button;
        @include text-selection-primary;
        font-size: $h3;
        margin-top: 25px;
        cursor: pointer;
    }
}

/* ================== PORTFOLIO ===================== */

.portfolio-container {
    @include grid-container;
    height: 100vh;
    width: 100%;
        h2 {
            grid-area: header;
            font-size: $h-header;
            font-weight: $font-weight-bold;
            @include flex-align;
            @include flex-center;
            text-decoration: underline;
        }
        
        .project-container {
            grid-area: intro;
            @include flex-between;
            @include flex-center;
            flex-wrap: wrap;
            .card {
                flex-basis: 400px;
                min-width: 45%;
                height: 50%;
                margin: 10px;
                background-color: $darkblue;
                color: $white;
                flex-grow: 1;
                @include flex-center;
                @include flex-column;
                @media only screen and (max-width: $screen-s) {
                    width: 100%;
                    min-width: 200px;
                }
                .class-holder {
                    height: 90%;
                    margin-left: 20px;
                    @include flex-between;
                    @include flex-column;
                    p {
                        font-size: $p;
                        @media only screen and (max-width: $screen-s) {
                            width: 80%;
                        }
                    }
                    h3 {
                        text-decoration: none;
                        font-size: $h-header;
                        
                    }
                }
            }
        }
}



